:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: medium;
}
.pico{
  padding: 4em;
}

body {
  display: flex;
  place-items: center;
  min-height: 100vh;
}

#app {
  display: grid;
  grid-template-columns: repeat(2, auto) 4em repeat(2, auto) 4em repeat(2, auto);
  grid-template-rows: repeat(5, 6em);
  column-gap: .4em;
  row-gap: .4em;
  margin: auto;
}
#app > :nth-child(6n + 1) { grid-column: 1 }
#app > :nth-child(6n + 2) { grid-column: 2 }

#app > :nth-child(6n + 3) { grid-column: 4 }
#app > :nth-child(6n + 4) { grid-column: 5 }

#app > :nth-child(6n + 5) { grid-column: 7 }
#app > :nth-child(6n + 6) { grid-column: 8 }

.cell {
  display: flex;
  width: 6em;
  height: 5.2em;
  align-items: center;
  justify-content: center;
  background-color: dodgerblue;
  color:#fff;
  font-size: 100%;
  border-radius: .2em;
  transition: 0.3s scale, box-shadow;
  cursor: grab;
}
.sortable-swap-highlight{
  background-color: #1fc7ff;
}
.sortable-ghost{
  background-color: rgb(40,154,255);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 5px;
  scale: 1.05;
  cursor: grabbing;
}
.changed{
  background-color: rgb(0 175 91);
}
.changed.sortable-swap-highlight{
  background-color: rgb(36 230 139);
}
svg{
  transform: translateY(-10%);
}